.layout-wrapper:not(.layout-horizontal)
  .bg-menu-theme
  .menu-inner
  > .menu-item.active:before {
  left: 0 !important;
  right: unset;
}
.menu-icon {
  margin-left: 0.5rem;
  margin-right: unset !important;
}
.menu-toggle::after {
  transform: translateY(-50%) rotate(225deg);
}
.menu-vertical .menu-item .menu-toggle::after {
  left: 1rem;
  right: unset !important;
}
.bg-menu-theme .menu-sub > .menu-item > .menu-link:before {
  left: unset !important;
  right: 1.4375rem;
}
.menu-vertical .menu-sub .menu-link {
  padding-right: 3rem !important;
  padding-left: unset !important;
}
.menu-vertical .menu-item .menu-toggle {
  padding-left: unset !important;
}

.bg-menu-theme .menu-header:before {
  right: 0 !important;
  left: unset !important;
}
.nav-align-top > .nav,
.nav-align-top > div > .nav,
.nav-align-right > .nav,
.nav-align-right > div > .nav,
.nav-align-bottom > .nav,
.nav-align-bottom > div > .nav,
.nav-align-left > .nav,
.nav-align-left > div > .nav {
  padding: 0px !important;
}

.hidden {
  display: none !important;
}
.datePicker .rmdp-container {
  width: 100% !important;
}
.form-check .form-check-input {
  float: right !important;
}
.form-switch .form-check-input {
  margin-right: unset !important;
  margin-left: 7px !important;
}
.img-personnel-table {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.table-primary-2 {
  --bs-table-bg: #1a68ee;
  --bs-table-striped-bg: #dcdefb;
  --bs-table-striped-color: #435971;
  --bs-table-active-bg: #d1d4f1;
  --bs-table-active-color: #0f56a3;
  --bs-table-hover-bg: #d8daf6;
  --bs-table-hover-color: #435971;
  color: #dfdfdf;
  border-color: #d1d4f1;
}
.table-primary-2 th {
  color: rgb(255, 255, 255) !important;
}

.modal-header {
  padding-left: 0px !important;
}
.modal-header .btn-close {
  margin-left: 0px !important;
}

.card-header-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.form-check {
  padding-left: unset !important;
  padding-right: 1.7em !important;
}
.list-group-item .form-check {
  padding-left: unset !important;
  padding-right: unset !important;
}
.form-check .form-check-input {
  margin-right: -1.7em;
}
.form-check.list-group-item .form-check-input {
  margin-right: 5px !important;
}
.menu-vertical .menu-item .menu-toggle {
  padding-right: 1rem !important;
}

.form-inline label {
  min-width: max-content !important;
  margin-left: 5px;
}
.list-group .form-check {
  margin-right: 1.7rem !important;
}

.personnelTableFullSize {
  min-width: 1200px;
  width: auto !important;
}

.card.info-box {
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.05);

}
.card.info-box .card-body {
  padding: 0px !important;
  display: flex;
  flex-direction: row;
}
.card.info-box .card-body .info-box-content {
  text-align: center !important;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.card.info-box .info-box-icon {
  background-color: rgba(0, 0, 0, 0.3);
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  color: white;
  -ms-flex-align: center;
  align-items: center;
  /* display: -ms-flexbox; */
  display: flex;
  font-size: 2rem;
  /* -ms-flex-pack: center; */
  justify-content: center;
  text-align: center;
  width: 50px;
  height: 50px;
  padding: 2rem;
}



.card.progress-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 120px;
  
}
.card.progress-box .card-body {
  padding-right: 10px !important;
  /* background-color: rgba(0, 0, 0, 0.08); */
  display: flex;
  flex-direction: row;
  align-items: center;
}
.card.progress-box .info-box-content {
  text-align: center !important;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.card.progress-box .info-box-content .info-box-text{
  font-weight: bold;
  font-size: 1.1rem;
}
.card.progress-box .info-box-content .info-box-number{
  font-weight: bold;
}

.card.progress-box .info-box-icon {
  /* background-color: rgba(0, 0, 0, 0.3); */
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  color: white;
  -ms-flex-align: center;
  align-items: center;
  /* display: -ms-flexbox; */
  display: flex;
  font-size: 2rem;
  /* -ms-flex-pack: center; */
  justify-content: center;
  text-align: center;
  width: 50px;
  height: 50px;
  padding: 2rem;
}
